<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>地点名</th>
            <th>住所</th>
            <th>削除ボタン</th>
        </tr>
    </thead>
    <tbody>
        <% @places.each do |place| %>
        <tr>
            <td><%= place.id %></td>
            <td><%= place.name %></td>
            <td><%= place.address %></td>
            <td></td>
        </tr>
        <% end %>
    </tbody>
</table>